/* PortfolioList.css */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.list > li {
  border-bottom: 1px solid #ccc;
}

.list > li:last-child {
  border-bottom: none;
}
